*~
build
install
online/exptab
online/*.hst
online/*.idx
online/*.idf
online/data
online/*.txt
online/*.TXT
online/*.log
online/*.xml
*.SHM
.SHM_HOST.TXT
.SHM_TYPE.TXT
midas.log
CMakeLists.txt.user
include/mudaq_registers.h
.idea/*
CMakeLists.txt.user.Z25018
cmake-build-debug/
*.mid
*.mid.lz4
*.bak
*.sopcinfo
*.rpt
