
.cache/
generated/

# cmake
build/
cmake-build*/
debugbuild/
install/
CMakeLists.txt.*

# quartus
.qsys_edit/
db/
greybox_tmp/
incremental_db/
output_files/
reconfig_mif/
**/simulation/modelsim/
*.qdf
*.qws
*.bak
*.rpt
*.srf
*.stp
a5_pin_model_dump.txt
top_assignment_defaults.qdf

# megawizard
*.bsf
*.cmp
*.ppf
*.sip
*.spd
*.f

# qsys
*.qsys
*.sopcinfo

# nios
nios/
**/software/app/
**/software/hal_bsp/

# eclipse
.project
.cproject
.settings

# idea
.idea/

# log files
*.log

*~
*.bak
*.swp
online/exptab
online/*.hst
online/*.idx
online/*.idf
online/data
online/*.txt
online/*.TXT
online/*.log
online/*.xml
*.autosave

# midas (?)
*.mid
*.mid.lz4

# other undocumented files
online/*
*.SHM
.SHM_HOST.TXT
.SHM_TYPE.TXT
include/mudaq_registers.h

#
*.npy
*.vcd

# Generated header files
switching_pc/slowcontrol/feb_constants.h
