[submodule "modules/midas"]
    path = modules/midas
    url = https://bitbucket.org/tmidas/midas
[submodule "modules/mutrigana-base"]
    path = modules/mutrigana-base
    url = git@bitbucket.org:mu3e/mutrigana-base
[submodule "common/kerneldriver/dmabuf"]
    path = common/kerneldriver/dmabuf
    url = https://github.com/akozlins/dmabuf
[submodule "modules/googletest"]
	path = modules/googletest
	url = https://github.com/google/googletest.git
[submodule "modules/jsroot"]
	path = modules/jsroot
	url = https://github.com/root-project/jsroot
