[submodule "modules/midas"]
	path = modules/midas
	url = https://bitbucket.org/tmidas/midas
[submodule "modules/mxml"]
	path = modules/mxml
	url = https://bitbucket.org/tmidas/mxml
[submodule "modules/mscb"]
	path = modules/mscb
	url = https://bitbucket.org/tmidas/mscb
