
output_files/
simulation/

nios/
dataflow/dflowfifo
dataflow/memdatafifo
dataflow/memreadfifo
dataflow/reqfifo
dataflow/sim/dataflow.cr.mti
dataflow/sim/libraries
dataflow/sim/transcript
dataflow/sim/vsim.wlf
dataflow/sim/work
dataflow/tagram
ddr3/ddr3_if
*.csv
helpers
