**/.qsys_edit/
**/db/
**/greybox_tmp/
**/incremental_db/
**/output_files/
**/reconfig_mif/
**/simulation/modelsim/

**/software/app/
**/software/hal_bsp/

*.qws
*.qsys
*.sopcinfo

*.bsf
*.cmp
*.ppf
*.qip
*.sip
*.spd
*.f

*.bak

# eclipse
.project
.cproject
.settings

# DVT
**/.dvt/*
dvt_build.log
