incremental_db/
ip/.qsys_edit/
ip/ip_clk_ctrl/
ip/ip_transceiver/
ip/ip_pll_312/
ip/ip_xcvr_reset/
ip/ip_xcvr_phy/
ip/ip_xcvr_fpll/
ip/ip_receiving_fifo/
ip/ip_sw_fifo_32/
ip/ip_sw_fifo_64/
ip/ip_pll_125/
ip/receiver_switching/
ip/transceiver_fifo/
ip/transceiver_switching/
.qsys_edit/
nios.qsys
nios/
output_files/
pcieapp/completer_fifo/
pcieapp/completer_wide_fifo/
pcieapp/data_addrs_ram/
pcieapp/data_pages_ram/
pcieapp/dma_ram/
pcieapp/pcie/
pcieapp/pcie_ram_narrow/
pcieapp/pcie_wram_narrow/
simulation/
db/
ip/ip_pll_312.BAK.qsys
pcieapp/pcie.BAK.qsys
software/hal_bsp/
software/app/
pcieapp/.qsys_edit/
