.b-r{
	border-right: thin black solid;
	height: 100vh;
	overflow: hidden;
    color: #FFF;
  }
.margin_top_600px{
	margin-top:600px;
}
.scrll_hide {
	float: right;
	height: 100%;
	width: calc(100% + 48px);
	overflow-y: scroll;
	margin: 0 -32px 0 0 !important;
	box-sizing: border-box;
    color: #FFF;
}
.normal_text {
    color: #FFF;
}
body {
    color: #FFF;
}
.ladderDiv
{
    cursor: pointer;
}
.ladder_selected
{
    border:3px solid #00F
}
.ladder_unselected {
    border:1px solid #000
}
.ladder_available
{
	background-color: aqua;
	color:black;
}
.ladder_power_on
{
	background-color: chartreuse;
	color:black;
}
.ladder_power_off
{
	background-color: gray;
	color:black;
}
.chipDiv {
    height: 50px;
    width: 50px;
    background-color: #555;
    border:1px solid #000;
    display: table-cell;
    cursor: pointer;
}
.chip_LadderPortionUp {
    height: 50px;
    width: 30px;
    background-color: #080;
    border:1px solid #080;
    display: table-cell;
}
.chip_LadderPortionDown {
    height: 20px;
    width: 180px;
    background-color: #080;
    border:1px solid #080;
}
.chip_selected {
    border:3px solid #0F0
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .tablinks_service {
    font-size: 8px;
    color: #888;
  }
.button_configure button {
    box-shadow: 0 9px #999;
    cursor: pointer;
    background-color : aqua;
}
.button_configure button:hover {
    background-color : #00F;
}
